@model ForgingAhead.Models.Equipment
<h2>
    Create Equipment
</h2>

<form asp-action="Create" asp-controller="Equipment">
    @Html.EditorForModel()
    <input type="submit" value="Update" class="btn btn-default" />
</form>