@model ForgingAhead.Models.Character
<h2>
    Create Character
</h2>

<form asp-action="Create" asp-controller="Character">
    <div class="form-horizontal">
        <h4>Character</h4>
        <hr/>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-md-2" asp-for="Name"></label>
                <div class="col-md-10">
                    <input class="form-control" asp-for="Name"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-md-2" asp-for="IsActive"></label>
                <div class="col-md-10">
                    <input class="form-control" asp-for="IsActive"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-md-2" asp-for="Level"></label>
                <div class="col-md-10">
                    <input class="form-control" asp-for="Level"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-md-2" asp-for="Strength"></label>
                <div class="col-md-10">
                    <input class="form-control" asp-for="Strength"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-md-2" asp-for="Dexterity"></label>
                <div class="col-md-10">
                    <input class="form-control" asp-for="Dexterity"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-md-2" asp-for="Intelligence"></label>
                <div class="col-md-10">
                    <input class="form-control" asp-for="Intelligence"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
                <div asp-validation-summary="All"></div>
            </div>
        </div>
    </div>
</form>